<div ng-controller="companiesCtrl">
	<div class="jumbotron">
		<h4>List of all the companies</h4>
	</div>

	<div class="btn-group pull-right">
		<button ng-click="changePage(-1)" ng-disabled="pageNum==0"
			class="btn btn-primary">Previous page</button>
		<button ng-click="changePage(1)" ng-disabled="!(pageNum<totalPages-1)"
			class="btn btn-primary">Next page</button>
	</div>
	<div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>Valid licence till</th>
					<th>Contact person</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in company">
					<td>{{x.name}}</td>
					<td>{{x.address}}</td>
					<td>{{x.validLicenceTill}}</td>
					<td>{{x.contactPerson}}</td>
					<td><button ng-click="deleteCompany(x.id)"
							class="btn btn-danger">Delete</button>
						<button ng-click="goToEdit(x.id)" class="btn btn-warning">Update</button></td>
				</tr>
			</tbody>
		</table>
		<button ng-click="goToAdd()" class="btn btn-warning">ADD</button>
	</div>
</div>